/* styles.css */

/* Importar as fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #FF8C00;
    --cor-secundaria: #612A91;
    --cor-terciaria: #FFEACE;
    --cor-branca: #ffffff;
    --cor-hover: #272727;

    --fonte-cabecalho: 'Montserrat', sans-serif;
    --fonte-conteudo-titulo: 'Krona One', sans-serif;
    --fonte-conteudo-texto: 'Montserrat', sans-serif;
    --fonte-apresentacao-link:'Montserrat', sans-serif;
    --fonte-apresentacao-link-subtitulo: 'Krona One', sans-serif;
    --fonte-rodape: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/* Estilos gerais do body */
body {
    background-color: var(--cor-branca); /* Branco */
    font-family: var(--fonte-conteudo-texto); /* Montserrat */
    color: var(--cor-secundaria); /* Roxo índigo */
    margin: 0;
    padding: 0;
}

/* Estilos para o logotipo */
.logo {
    width: 150px; /* Tamanho do Logotipo */
    margin-right: 50px; /* Espaçamento entre o logotipo e o menu */
}

/* Estilos para o header */
header {
    background-color: var(--cor-branca); /* Fundo branco para o header */
    display: flex;
    align-items: center; /* Alinha itens verticalmente no centro */
    justify-content: flex-start; /* Alinha itens à esquerda */
}

/* Estilos para a barra de contato */
.barra-contato {
    background-color: var(--cor-primaria); /* Laranja-chama */
    padding: 10px 20px;
}

.texto-contato {
    font-family: var(--fonte-conteudo-texto); /* Montserrat, sans-serif; */
    font-weight: bold; /* Negrito */
    color: var(--cor-branca); /* Branco */
    text-align: center; /* Centraliza o texto */
    flex: 1; /* Ocupa o espaço disponível */
}

.icone-instagram img {
    width: 24px; /* Tamanho do ícone */
    height: auto; /* Mantém a proporção do ícone */
}


/* Estilos para o menu */
.navbar {
    flex-grow: 1; /* Faz o menu usar o espaço restante */
}

/* Estilos para o menu suspenso */
.navbar-nav .nav-link {
    color: var(--cor-secundaria); /* Texto Roxo índigo */
    font-family: var(--fonte-conteudo-texto); /* Montserrat, sans-serif; */
    font-weight: bold; /* Negrito */
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus {
    color: #ffffff; /* Texto branco ao passar o mouse */
    background-color: var(--cor-secundaria); /* Roxo índigo ao passar o mouse */
}

.dropdown-menu {
    background-color: #ffffff; /* Branco para o fundo do menu suspenso */
}

.dropdown-menu .dropdown-item {
    color: var(--cor-secundaria); /* Texto Roxo índigo */
    font-family: var(--fonte-conteudo-texto); /* Montserrat, sans-serif; */
    font-weight: bold; /* Negrito */
}

.dropdown-menu .dropdown-item:hover {
    color: #ffffff; /* Texto branco ao passar o mouse */
    background-color: var(--cor-secundaria); /* Roxo índigo ao passar o mouse */
    font-family: var(--fonte-conteudo-texto); /* Montserrat, sans-serif; */
    font-weight: bold; /* Negrito */
}


/* Estilos para textos */
p, span, a {
    font-family: var(--fonte-conteudo-texto); /* Montserrat */
    color: var(--cor-primaria); /* Laranja-chama */
}

/* Estilos para links */
a {
    color: var(--cor-primaria); /* Laranja-chama */
    text-decoration: none;
}

a:hover {
    color: var(--cor-secundaria); /* Roxo índigo */
}

/* Estilos para botões */
button {
    background-color: var(--cor-primaria); /* Laranja-chama */
    color: #ffffff; /* Branco para o texto do botão */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: var(--cor-secundaria); /* Roxo índigo */
}

/* Estilos para áreas com fundo marfim claro */
.fundo-marfim {
    background-color: var(--cor-terciaria); /* Marfim claro */
}

/* Estilos para imagem com overlay */
.img-container {
    position: relative;
    width: 100%; /* Faz com que o contêiner ocupe a largura total do elemento pai */
    height: 80vh; /* Ajusta a altura do contêiner para 80% da altura da tela */
    overflow: hidden; /* Garante que nada ultrapasse o contêiner */
}

.img-fundo {
    width: 100%; /* Ajusta a largura da imagem ao tamanho da tela */
    height: 80vh; /* Ajusta a altura da imagem ao tamanho da tela */
    object-fit: cover; /* Garante que a imagem cubra o contêiner mantendo as proporções */
    
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Faz a overlay ocupar a largura total do contêiner */
    height: 100%; /* Faz a overlay ocupar a altura total do contêiner */
    background: rgba(0, 0, 0, 0.3); /* Overlay escuro com opacidade */
    z-index: 1; /* Coloca o overlay abaixo do texto */
}

.frase-sobreposta {
    position: absolute; /* Garante que o texto fique sobre o overlay e a imagem */
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%); /* Centraliza o texto */
    color: #FFFFFF !important; /* Texto branco */
    font-family: var(--fonte-conteudo-titulo); /* Usando a fonte definida */
    font-weight: bold; /* Negrito */
    z-index: 3; /* Coloca o texto acima do overlay e da imagem */
    text-align: center; /* Centraliza o texto */
    font-size: 10rem; /* Aumente o tamanho da fonte para 3em */
    }

.text-table {
    width: auto;
}

#palavra-alternada-container {
    min-width: 220px; /* Ajuste este valor conforme o tamanho das palavras alternadas */
    text-align: center; /* Centraliza a palavra alternada */
}

#palavra-alternada {
    color: var(--cor-primaria);
    font-family: var(--fonte-conteudo-titulo);
    font-weight: bold; /* Negrito */
    font-size: 2.25rem; /* Aumente o tamanho da fonte para 2em */
    }

/* Garantir que o container não tenha padding */
.container-fluid {
    padding: 0;
    position: relative;
}

/* Estilo para a linha */
.row {
    margin: 0;
}


/* Estilo Soluções */

.secao_solucoes{
    background-image: url('../img/backgroud_solucao.png'); /* Caminho da imagem */
    background-size: cover; /* Ajusta a imagem para cobrir a seção inteira */
    background-position: center; /* Centraliza a imagem de fundo */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
}

.solucoes {
    display: flex; /* Define o layout como flexível para organizar os itens */
    flex-wrap: wrap; /* Permite que os cards se movam para a próxima linha se necessário */
    justify-content: center; /* Centraliza os cards na horizontal */
    gap: 20px; /* Espaçamento entre os cards */
    padding: 20px; /* Espaçamento interno opcional */
}

.titulo_solucoes{
    color: var(--cor-primaria); /* Define a cor do texto do título */
    margin-top: 20px; /* Adiciona um espaçamento de 20px acima do título */
    margin-left: 20px; /* Adiciona um espaçamento externo */
    font-family: var(--fonte-conteudo-titulo); /* Define a fonte do título */
    font-size: 2.25rem; /* Define o tamanho da fonte do título */
    }

.subtitulo_solucoes{
    color: var(--cor-secundaria); /* Define a cor do texto do subtítulo */
    font-family: var(--fonte-conteudo-texto); /* Define a fonte do subtítulo */
    font-weight: bold; /* Define o texto do subtítulo como negrito */
    font-size: 2.25rem;  /* Define o tamanho da fonte do subtítulo */
    margin-left: 40px; /* Adiciona um espaçamento externo ao redor dos cards */
}

.card_text{
    color: var(--cor-primaria);  /* Define a cor do texto dos cards*/
    font-family: var(--fonte-conteudo-texto); /* Define a fonte do texto */
    font-weight: bold; /* Define o texto dos cards como negrito */
    font-size: 1rem; /* Define o tamanho da fonte do texto dos cards */
    text-align: center;  /* Centraliza o texto dentro do card */
}

.solucoes .card {
    position: relative; /* Define a posição como relativa para permitir o posicionamento absoluto de elementos filhos */
    width: 250px; /* Define a largura dos cards */
    height: 200px; /* Define a altura dos cards */
    perspective: 1000px; /* Adiciona uma perspectiva para o efeito 3D do flip */
    margin: 20px; /* Adiciona um espaçamento externo ao redor dos cards */
}

.solucoes .card-inner {
    position: relative; /* Define a posição como relativa para permitir o posicionamento absoluto de elementos filhos */
    width: 100%; /* Define a largura como 100% do card */
    height: 100%; /* Define a altura como 100% do card */
    text-align: center; /* Centraliza o texto dentro do card */
    transition: transform 0.6s; /* Define a transição para o efeito de flip */
    transform-style: preserve-3d; /* Mantém o efeito 3D durante a transformação */
}

.solucoes .card:hover .card-inner {
    transform: rotateY(180deg); /* Gira o card em 180 graus no eixo Y quando é passado o mouse sobre ele */
}

.solucoes .card-front,
.solucoes .card-back {
    position: absolute; /* Permite o posicionamento das faces frontal e traseira sobrepostas */
    width: 100%; /* Define a largura como 100% do card */
    height: 100%; /* Define a altura como 100% do card */
    -webkit-backface-visibility: hidden; /* Oculta a face traseira quando o card é virado (Safari) */
    backface-visibility: hidden; /* Oculta a face traseira quando o card é virado */
    display: flex;  /* Define o layout flexível para os conteúdos internos */
    align-items: center; /* Alinha verticalmente os itens no centro */
    justify-content: center; /* Alinha horizontalmente os itens no centro */
    color: white;  /* Define a cor do texto como branca */
    border-radius: 10px; /* Define bordas arredondadas nos cards */
    padding: 10px; /* Adiciona espaçamento interno aos cards */
    box-sizing: border-box; /* Inclui o padding e bordas no cálculo total da largura e altura */
}

.solucoes .card-front {
    background-color: var(--cor-secundaria); /* Define a cor de fundo da face frontal do card */
    flex-direction: column; /* Organiza o conteúdo da face frontal em coluna */
}

.solucoes .card-front img {
    width: 50px; /* Define a largura da imagem na face frontal */
    height: 50px; /* Define a altura da imagem na face frontal */
    margin-bottom: 10px; /* Adiciona um espaçamento abaixo da imagem */
}

.solucoes .card-back {
    background-color: white; /* Define a cor de fundo da face traseira do card */
    color: #0000FF; /* Define a cor do texto da face traseira como azul */
    transform: rotateY(180deg); /* Gira a face traseira para que apareça ao virar o card */
    text-align: left; /* Alinha o texto à esquerda na face traseira */
}

.botao-container {
    display: flex; /* Define o layout flexível para centralizar o botão */
    justify-content: center; /* Centraliza o botão horizontalmente */
    margin-top: 20px; /* Espaçamento acima do botão */
}

.btn-saiba-mais {
    background-color: var(--cor-secundaria); /* Define a cor de fundo do botão */
    color: #ffffff; /* Define a cor do texto como branco */
    padding: 10px 20px; /* Espaçamento interno do botão (10px vertical e 20px horizontal) */
    border: none; /* Remove a borda padrão do botão */
    border-radius: 20px; /* Arredonda os cantos do botão */
    font-size: 1.25rem; /* Define o tamanho da fonte */
    cursor: pointer; /* Altera o cursor para pointer ao passar o mouse */
    transition: transform 0.3s ease; /* Adiciona transição suave para transformação */
}

.btn-saiba-mais:hover {
    transform: scale(1.1); /* Aumenta ligeiramente o botão ao passar o mouse */
}